<div class="container">
  <div class="chat-list">
    <form>
      <div class="search-input">
        <span>
          <img src="search.png" class="searchimg">
        </span>
        <input type="text" class="chat-search" placeholder="Search Users"/>
      </div>
    </form>
    <ul class="user-list">
      <li class="user">
        <div class="user-image">
          <img src="maloi.png" alt="User Image">
        </div>
        Maloi
      </li>
      <li class="user">
        <div class="user-image">
          <img src="yves.png" alt="User Image">
        </div>
        Yves
      </li>
      <li class="user">
        <div class="user-image">
          <img src="mikha.jpg" alt="User Image">
        </div>
        Mikha
      </li>
    </ul>
  </div>
  <div class="messages">
    <div class="message">Hello, how are you?</div>
    <div class="message">I'm good, thanks!</div>
    <div class="message-input">
      <button class="sendimage-button">
        <img src="picture.png" class="messageimg">
      </button>
      <input type="text" class="message-text" placeholder="Type your message here..."/>
      <button class="send-button">
        <img src="send.png" alt="Send">
      </button>
    </div>
  </div>
</div>
